@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  @apply m-0 font-sans;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .complex-gradient {
    background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.75) 66%,
                rgba(255, 255, 255, 1) 74%,
                rgba(255, 255, 255, 1) 100%);
  }
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}
